:root {
  --background-color: #000000;
  --theme-color: #94B4FA;
  --theme-color-darker: #7D95CE;
  --theme-color-darkest: #657CB3;
}

body {
  background: var(--background-color);
  color: var(--theme-color);
  padding: 24px;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  margin: 0px auto;
  text-align: center;
}

a {
  text-decoration: none;
}
